<%= form_tag root_path, method: :get, class: 'form-inline search-form' do %>
  <div class="row">
    <div class="col-xs-5">
      <%= select_tag :month, options_for_select(['東京']), prompt: 'どこに', class: 'form-control' %>
    </div>

    <div class="col-xs-5">
      <%= select_tag :month, options_for_select(month_options), prompt: 'いつ届ける', class: 'form-control' %>
    </div>

    <div class="col-xs-2">
      <%= submit_tag '検索する', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>