<div class="search-table-area clearfix">
  <table class="table">
    <thead>
    <tr>
      <th>旬の品目</th>
      <th>産地</th>
      <th>数量</th>
      <th>値段（kgあたり）</th>
      <th>合計</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'search_table_row', collection: vegetable_informations, as: :vegetable_information %>
    </tbody>
  </table>
  <div class="btn btn-success pull-right">
    カートを確認する
  </div>
</div>