<div class="search-index">
  <div class="top-image-area">
    <div class="agrihack-container">
      <%= render 'search_form' %>
    </div>
  </div>

  <div class="agrihack-container">
    <%= render partial: 'search_table', locals: { vegetable_informations: @vegetable_informations } %>
  </div>

</div>
